<div id="map-container" class="map-container"></div>
<div id="popup" class="ol-popup">
  <div id="popup-content">
    <article>
      <h3>Well Name 242456</h3>
      <p>API# 01234567891234</p>
      <section><div>New Orleans, Louisiana, USA</div><div>39.748993, -106.731152</div></section>
      <section><div>Operator: Anadarko</div><div>Drilled since 1980</div></section>
      <p>Phrase Score: 246</p>
    </article>
  </div>
  <button href="#" id="popup-closer" class="ol-popup-closer">Mud Logs</button>
</div>
<!-- <div #popup class="popup" id="popup" [hidden]="true"></div> -->
